* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(21, 25, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.login-main {
  height: 70vh;
  width: 30vw;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-internal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

#logo {
  height: 8rem; /* 1rem = 16px*/
}
